<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Select Job Description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Find Jobs"></ion-searchbar>
    
     <ion-list button (click)="openModal()">
        <ion-item type="text">Research Center1 </ion-item>
        <ion-item type="text">Research Center2 </ion-item>
        <ion-item type="text">Research Center3 </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="upload()">SELECT JOB DESCRIPTION TO UPLOAD</ion-button>
</ion-content>
