<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Skill Job</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="ion-text-center">
  <ion-text >What kind of job you request? </ion-text>
  </div>
  <br> 
  <div class="ion-text-center" style="opacity: 50%;">
    <ion-text >Please choose which skills is relevant to your requested job </ion-text>
  </div>
  <br>
  <ion-list>
    <ion-item>
      <ion-label>Research Assistant</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="skillset1" value="Research Assistant"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Translator</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="skillset2" value="Translator"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Virual Assistant</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="skillset3" value="Virtual Assistant"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="update()">Create Job</ion-button>

</ion-content>
