
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Find Jobs</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-searchbar placeholder="Find Jobs"></ion-searchbar>
      <ion-list button (click)="openModal()">
        <ion-item type="text">Research Center1 {{job?.userTitle}}</ion-item>
        <ion-item type="text">Research Center2 {{job?.userTitle}}</ion-item>
        <ion-item type="text">Research Center3 {{job?.userTitle}}</ion-item>
    </ion-list>
  </ion-content>
  


