<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>Create Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="ion-text-center">
    <ion-text >Please fill in your details </ion-text>
    </div>
    <br> 
    <div class="ion-text-center" style="opacity: 50%;">
      <ion-text >You can edit any details below </ion-text>
    </div>
    <br>
    <form>
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input required type="tel" [(ngModel)]="phone" name="phone"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Select One" required type="text" [(ngModel)]="gender" name="gender">
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Male">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Campus</ion-label>
        <ion-input required type="text" [(ngModel)]="campus" name="campus"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Year</ion-label>
        <ion-input required type="text" [(ngModel)]="year" name="year"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Faculty</ion-label>
        <ion-input required type="text" [(ngModel)]="faculty" name="faculty"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" (click)="createprofile()">Next</ion-button>
    </form>
  </ion-content>
</ion-app>