<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HomePage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log In</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <ion-card-header style="text-align: center;">
        <img src="assets/Jobs.jpg" alt="Jobs-logo">
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Application is loading!! Please wait!</ion-card-title>
      </ion-card-header>
      <br>
      <br>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-card>
</ion-content>
<ion-button href="/login" style="text-align: center;">Proceed</ion-button>
